<section class="section-form">
    <form *ngIf="formGroup" [formGroup]="formGroup" class="signup-form">
        <header>
            <h1 style="font-family: 'Times New Roman', Times, serif; font-size: 30px;">Sign Up!</h1>
        </header>
    
        <mat-form-field class="signup-form__field">
            <mat-label>Username:</mat-label>
            <input type="text" matInput formControlName="username">
        </mat-form-field>
    
        <mat-form-field class="signup-form__field">
            <mat-label>Email:</mat-label>
            <input type="email" matInput formControlName="email">
        </mat-form-field>
    
        <mat-form-field class="signup-form__field">
            <mat-label>Password:</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>
    
        <span *ngIf="formValid == false" style="color: purple;">{{ 'Please, review your data and try it again.' }}</span>
        <span id="signUpRequestErrorMsg" style="color: purple;"></span>

        <button (click)="submitSignUpForm()" mat-raised-button color="basic" style="margin-top: 20px;">Sign Up!</button>
    </form>
</section>