<main class='project'>
    <section class='project-view' *ngIf='project'>
        <header>
            <h1>{{ project.title }}</h1>
            <h2 style='word-wrap: break-word;'>{{ project.description }}</h2>
        </header>

        <img *ngIf='project.base64Img != "AA=="' [src]='project.base64Img | imgBase' style='width: 98%; border-radius: 10px; border: solid 1px black;'>

        <section class='project-view__buttons'>
            <label>PNG, JPG and GIF only. Max size: 10 mb.</label>
            
            <section class='project-view__buttons__change-img'>
                <input style="margin-top: 10px;" type="file" id="projectImgInput" />
                <button style="width: 50%;" mat-raised-button (click)="changeProjectImg()">Change cover!</button>
            </section>

            <button style="width: 50%;" mat-raised-button (click)="openEditProjectDialog()">Edit Project!</button>
        </section>
    </section>

    <span *ngIf='!project'>There's no project or no selected project</span>
</main>