* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.project {
    display:  flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 20px;

    text-align: center;
}

.project-view__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:  5px;
    margin-top: 5vh;

    width:  100%;
}

.project-view__buttons__change-img {
    display:  flex;
    flex-direction: column;
    align-items: center;

    width:  100%;
}

@media only screen and (max-width:  768px) {
    .project {
        padding-top:  20px;
    }
}