* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

.app-nav {
    animation: load 3s;
}

@keyframes load {
    0% { position: relative; top: -100%; }
    100% { position: relative; top: 0px; }
}