<style>
    .marked-span {
        color: red;
        font-weight: bold;
    }
</style>

<section class="home-body">
    <header class="home-header">
        <h1 style="font-size: 20px; border: solid 1px black; padding: 10px;">DemonstrateProjects</h1>
        <p style="font-weight: bold;">For great portfolios, for personal or shared use, for security, for <span class="marked-span">simplicity</span>.</p>
    </header>
    
    <hr style="color: black; background-color: black; width: 70%;">
    
    <section class="home-questions">
        <header>
            <h2>Frequently Asked Questions</h2>
        </header>
        <section class="home-questions__questions">
            <article>
                <h3 class="question__title">Is it <span class="marked-span">Open Source</span>?</h3>
                <p>Yes, and u're allowed to contribute, look at the source code and all that our license allows.</p>
            </article>

            <article>
                <h3 class="question__title">How can I <span class="marked-span">contribute</span>?</h3>
                <p>Open an Issue in the official repository on github. Don't be shy!</p>
            </article>

            <article>
                <h3 class="question__title">What are <span class="marked-span">keys</span>?</h3>
                <p>They are passwords that must be pass on the request body to get all ur projects.</p>
            </article>
        </section>
    </section>

    <section class="home-howto" style="margin-top: 15px;">
        <header>
            <h2>How to get my projects?</h2>
        </header>
        <section class="home-howto__explanation">
            <p>It's quite <span class="marked-span">simple</span>! Just do a GET request to our API! In the body, pass your key as json (key: value). If you wanna a single project, use, in query, an index parameter (&index=0). See the image below for more info!</p>
            <img src="" alt="more info">
        </section>
    </section>
    
    <hr>
    
    <footer class="home-footer">
        <p>Made with &lt;3 by <a href="https://github.com/arakakiv">arakakiv</a></p>
    </footer>
</section>