.section-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 85%;
}

.signin-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 40%;
    height: 65%;

    padding: 50px;
    text-align: center;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.signin-form__field {
    width: 80%;
}