<main class="project-view">
    <section class="project-view__input-area">
        <header class="input-area__header">
            <h1>See some projects! Put your key below and submit!</h1>
            <p>If you do not have a key, please, test it with this: SOME_KEY_HERE</p>
        </header>
    
        <section class="input-area__input">
            <input id="input-key" type="text" style="background-color: white; border: solid 2px black; border-radius: 5px; padding: 10px;" />
            <button mat-stroked-button (click)="findProjects()" style="border-radius: 10px; border: solid 2px black; padding: 10px">See projects!</button>
        </section>
    </section>

    <section *ngIf="this.projects" class="finded-projects" style="padding: 10px;">
        <article class="project__card" *ngFor="let p of this.projects">
            <h1>{{ p.title }}</h1>
            <h2>{{ p.description }}</h2>
    
            <img *ngIf="p.base64Img != 'AA=='" [src]="p.base64Img | imgBase" class='project__card__img' />
        </article>
    </section>
</main>