::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: rgb(80, 7, 198);
    border-radius: 15px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 7, 198);
}

.projects {
    display: grid;

    grid-template-rows: 60% 40%;
    grid-template-columns: 98%;

    padding: 0px 0px 0px 0px;
    width: 100%;
}

.project-list {
    overflow-y: scroll;
    grid-row: 1 / 2;
}

.project__card, .project__card--selected {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    
}

.project__card__index {
    width: 40%;
}

.project__card__header {
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project__card__index {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    line-height: 30px;

    font-weight: bold;
}

.project__card:hover {
    background-color: rgb(220, 220, 220);
}

.project__card--selected {
    border: solid 1px rgb(80, 7, 198);

    color: rgb(80, 7, 198);
    background-color: rgb(240, 240, 240);
}

@media only screen and (min-width: 768px) {
    .projects {
        grid-template-rows: 84vh;
        grid-template-columns: 45% 55%;
    }

    .project-list {
        grid-column: 1 / 2;
        height: 100%;
    }
}