<main class='projects'>
    <!-- List of Projects -->
    <section class='project-list' style="overflow-y: scroll;">
        <article style="overflow-y: scroll;" (click)="changeMainProject(p.index, $event)" *ngFor="let p of projects" class="project__card">
            <span class="project__card__index" style="font-size: 2em;">{{ p.index }}</span>
            <header class="project__card__header">
                <h2 style="word-wrap: break-word;" style="font-size: 1.5em;">{{ p.title }}</h2>
                <p style="word-wrap: break-word;">{{ p.description | projDescription }}</p>
            </header>

            <button mat-mini-fab (click)="deleteProject(p.index)" color="primary" style="align-self: flex-end;"><mat-icon>delete_forever</mat-icon></button>
        </article>
    </section>

    <!-- Selected project (if any) -->
    <section style='overflow-y: scroll;' class='selected-project'>
        <app-project></app-project>
    </section>

    <button mat-fab style="position: fixed; bottom: 10px; right: 10px;" color="primary" (click)="openNewProjectDialog()"><mat-icon>plus_one</mat-icon></button>
</main>